<div class="container">
    <h1 class="text-center mb-4 mt-3">HALLS <i class="bi bi-collection-fill"></i></h1>
    <div class="row">
        <div class="col p-2">
            <div class="card" style="width: 18rem;height: 16rem;">
                <img class="card-img-top" src="assets/images/Bharathiyar.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <b>Bharathiyar Hall</b>
                </div>
                <div class="card-body text-center">
                    <button type="button" class="btn btn-success" (click)="Book('Bharathiyar Hall')"><i class="bi bi-bookmark-star-fill"></i>Book</button>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card" style="width: 18rem;height: 16rem;">
                <img class="card-img-top" src="assets/images/GDNaidu.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <b>G.D.Naidu Hall</b>
                </div>
                <div class="card-body text-center">
                    <button type="button" class="btn btn-success" (click)="Book('G.D.Naidu Hall')"><i class="bi bi-bookmark-star-fill"></i>Book</button>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card" style="width: 18rem;height: 16rem;">
                <img class="card-img-top" src="assets/images/Ramanujan.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <b>Ramanujan Hall</b>
                </div>
                <div class="card-body text-center">
                    <button type="button" class="btn btn-success" (click)="Book('Ramanujan Hall')"><i class="bi bi-bookmark-star-fill"></i>Book</button>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card" style="width: 18rem;height: 16rem;">
                <img class="card-img-top" src="assets/images/SirCVRaman.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <b>Sir C.V.Raman Hall</b>
                </div>
                <div class="card-body text-center">
                    <button type="button" class="btn btn-success" (click)="Book('Sir C.V.Raman Hall')"><i class="bi bi-bookmark-star-fill"></i>Book</button>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card" style="width: 18rem;height: 16rem;">
                <img class="card-img-top" src="assets/images/Valluvar.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <b>Valluvar Hall</b>
                </div>
                <div class="card-body text-center">
                    <button type="button" class="btn btn-success" (click)="Book('Valluvar Hall')"><i class="bi bi-bookmark-star-fill"></i>Book</button>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card" style="width: 18rem;height: 16rem;">
                <img class="card-img-top" src="assets/images/Visvesvaraya.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <b>Visvesvaraya Hall</b>
                </div>
                <div class="card-body text-center">
                    <button type="button" class="btn btn-success" (click)="Book('Visvesvaraya Hall')"><i class="bi bi-bookmark-star-fill"></i>Book</button>
                </div>
            </div>
        </div>
    </div>
</div>