<form>
  <!-- Email input -->
  <h1 class="text-center mb-4">LOGIN<i class="bi bi-door-open-fill"></i>HERE</h1>
  <h5 class="text-center">USER NAME</h5>
  <div class="form-outline mb-3">
    <input type="email" id="form2Example1" class="form-control" />
  </div>

  <!-- Password input -->
  <h5 class="text-center">PASSWORD</h5>
  <div class="form-outline mb-3">
    <input type="password" id="form2Example2" class="form-control" />    
  </div>

  <!-- Submit button -->
  <div class="text-center">
  <button type="button" class="btn btn-primary btn-block mb-3">Sign in</button>
  </div>

</form>