<form>
    <h1 class="text-center mb-4">BOOKING DETAILS <i class="bi bi-check-circle-fill"></i></h1>
    <div class="form-outline mb-4">
        <label class="text-center">USER NAME</label>
        <input type="email" id="form2Example1" class="form-control" />
    </div>
    <div class="form-outline mb-4">
        <label class="text-center">EVENT NAME</label>
        <input type="email" id="form2Example1" class="form-control" />
    </div>
    <div class="form-outline mb-4">
        <label class="text-center">DATE</label>
        <input type="email" id="form2Example1" class="form-control" />
    </div>
    
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-block mb-4">Confirm Booking</button>
    </div>
</form>