<nav class="navbar navbar-dark bg-primary p-2">
    <div>
        <img class="header-img mx-2" src="assets/images/Mkce.jpg">
        <a class="navbar-brand h1 mx-2"><b>HALL BOOKING SYSTEM</b></a>
    </div>
    <div>
        <button type="button" class="btn btn-primary"><i class="bi bi-house"></i> Home</button>
        <button type="button" class="btn btn-primary"><i class="bi bi-card-list"></i> Halls List</button>
        <button type="button" class="btn btn-primary"><i class="bi bi-door-open"></i> Login</button>
        <button type="button" class="btn btn-primary"> <i class="bi bi-r-circle-fill"></i> Register</button>       
        <button type="button" class="btn btn-primary"><i class="bi bi-person-circle"></i> Account</button>
    </div>
</nav>